body { 
  background-image: url(/public/assets/img/Burger.jpg);
  image-rendering: ;
}

#title {
  padding-top: 20px;
  text-align: center;
  font-weight: bolder;
}
li {
    padding: 5px;
    margin: 5px;
    background: white;
  }
   
  .create-update-form {
    padding: 5px;
    margin: 5px;    
  }

  #right-column {
    padding-left: 45px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }